* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #000;
	color: #fff;
	font-family: monospace;
	height: 100vh;
	overflow: hidden;
}

canvas {
	max-width: 100vw;
	max-height: 100vh;
	width: auto;
	height: auto;
}

/* SCREEN SYSTEM */
.screen {
	position: fixed;
	inset: 0;
	background: #000;
	display: none;
}

.screen.active {
	display: flex;
	flex-direction: column;
}

/* DISCLAIMER */
.warning-box {
	text-align: center;
	max-width: 600px;
	margin: auto;
	animation: subtleFlicker 4s infinite;
}

.warning-title {
	font-size: 5rem;
	letter-spacing: 0.3rem;
	margin-bottom: 1.5rem;
	color: #f00;
}

.warning-text {
	font-size: 2rem;
	opacity: 0.9;
}

.warning-continue {
	margin-top: 4rem;
	font-size: 1.2rem;
	opacity: 0.5;
	animation: blink 2.5s infinite;
}

/* BACKGROUND */
#game-title-bg {
	position: fixed;
	inset: 0;
	opacity: 0.5;
	z-index: -1;
	overflow: hidden;
}

#game-title-bg img {
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0.5;
	filter: blur(1px);
	height: 100%;
	width: auto;
	animation: blur 3s infinite alternate;
}
#game-title-bg::before {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: url("/assets/images/noise.gif");
	background-blend-mode: overlay;
	animation: noise 0.5s infinite steps(2);
	opacity: 0.5;
}

#game-title-bg::after {
	content: "";
	position: absolute;
	inset: 0;
	pointer-events: none;
	background: url("/assets/images/scanlines.gif");
	background-size: cover;
	backdrop-filter: blur(0.5px);
	opacity: 0.05;
}

/* TITLE */
header {
	padding: 2rem 4rem;
}

.game-title span {
	display: block;
	font-size: 4rem;
	letter-spacing: 0.2rem;
}

.subtitle {
	font-size: 2rem;
	color: #900;
	margin-top: 1rem;
}

/* MENU */
main {
	flex: 1;
	display: flex;
	align-items: center;
}

.menu {
	list-style: none;
	display: none;
	flex-direction: column;
	gap: 1.2rem;
	margin-left: 5rem;
}

.menu.active {
	display: flex;
}

button {
	background: none;
	border: none;
	color: #fff;
	font-size: 2.5rem;
	font-family: monospace;
	cursor: pointer;
	position: relative;
}

button.selected {
	color: #f00;
	transform: translateX(1rem);
}

button.selected::before {
	content: ">>";
	position: absolute;
	left: -3.5rem;
	color: #f00;
}

/* CUSTOM NIGHT MENU */
#start-custom-night {
	margin-top: 2rem;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	border: 2px solid #fff;
	cursor: pointer;
	background: none;
	color: #fff;
}
#start-custom-night:hover {
	background-color: #fff;
	color: #000;
}
#start-custom-night:active {
	transform: scale(0.95);
	background-color: #900;
	border: 2px solid #ff0;
}
#back-to-main-menu {
	margin-top: 1rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

#custom-menu li {
	display: flex;
	align-items: center;
	gap: 1rem;
}
#custom-menu div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
#custom-menu div > button {
	width: 2rem;
	height: 2rem;
	font-size: 1.5rem;
	padding: 0;
	border: 2px solid #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

#custom-menu p {
	width: 150px;
	font-size: 2rem;
}

#custom-menu span {
	width: 2rem;
	text-align: center;
	font-size: 1.2rem;
}

/* ANIMATIONS */
@keyframes blink {
	0%,
	100% {
		opacity: 0.5;
	}
	50% {
		opacity: 0.1;
	}
}

@keyframes subtleFlicker {
	0%,
	97%,
	100% {
		opacity: 1;
	}
	98% {
		opacity: 0.85;
	}
}

@keyframes noise {
	0% {
		background-position: 0 50%, 50% 0;
	}
	25% {
		background-position: 50% 100%, 0 50%;
	}
	50% {
		background-position: 100% 50%, 50% 100%;
		opacity: 1;
	}
	75% {
		background-position: 50% 0, 100% 50%;
	}
	100% {
		background-position: 50% 0, 60% 50%;
	}
}

@keyframes blur {
	0% {
		filter: blur(1px);
		transform: translateX(-5px);
	}
	100% {
		filter: blur(3px);
	}
}
